{% extends 'base.html.twig' %}

{% block body %}
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-content">
            <div class="m-portlet">
                <div class="m-section__content">
                    <div class="row" style="width: 99%; margin: auto; padding-top: 20px">
                        <div class="alert alert-success" style="width: 31%; margin-right: 21px;margin-left: 21px;">
                            <strong>Well done!</strong> You successfully read this important alert message.
                        </div>
                        <div class="alert alert-info" style="width: 31%; margin-right: 21px;">
                            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                        </div>
                        <div class="alert alert-warning" style="width: 31%">
                            <strong>Warning!</strong> Better check yourself, you're not looking too good.
                        </div>
                    </div>

                    <div class="row" style="width: 99%; margin: auto; padding-top: 20px">
                        <div class="alert alert-danger" style="width: 31%; margin-right: 21px;margin-left: 21px;">
                            <strong>Oh snap!</strong> Change a few things up and try submitting again.
                        </div>
                        <div class="alert alert-brand" style="width: 31%; margin-right: 21px">
                            <strong>Well done!</strong> You successfully read this important alert message.
                        </div>
                        <div class="alert alert-primary" style="width: 31%">
                            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}