<!DOCTYPE html>
<html lang="en" >
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Cremor - {% endblock %}</title>
    <link href="{{ asset('css/vendors.bundle.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('css/style.bundle.css?version="1.0"') }}" rel="stylesheet" type="text/css"/>
    <style>
        @import url({{ asset('https://fonts.googleapis.com/css?family=Montserrat') }});
        *{
            font-family: 'Montserrat', sans-serif;
        }
    </style>
    {% block stylsheets %}{% endblock %}
</head>
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default m-brand--minimize m-aside-left--minimize">
<div class="m-grid m-grid--hor m-grid--root m-page">
    <header class="m-grid__item m-header" data-minimize-offset="200" data-minimize-mobile-offset="200">
        <div class="m-container m-container--fluid m-container--full-height">
            <div class="m-stack m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-brand  m-brand--skin-dark ">
                    <div class="m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-stack__item--middle m-brand__logo">
                            <a href="{{ path('cremor_homepage') }}" class="m-brand__logo-wrapper">
                                <img alt="" src="{{ asset('img/logo2.png') }}" style="width: 60%;" />
                            </a>
                        </div>
                        <div class="m-stack__item m-stack__item--middle m-brand__tools">
                            <a href="javascript:;" id="m_aside_left_minimize_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-desktop-inline-block">
                                <span></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                    <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-dark " id="m_aside_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                    <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-dark m-aside-header-menu-mobile--submenu-skin-dark "  >
                        <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                            <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel"  data-menu-submenu-toggle="click" data-redirect="true" aria-haspopup="true">
                                <a  href="{{ path('cremor_homepage') }}" class="m-menu__link m-menu__toggle">
                                    <img src="{{ asset('img/logo.png') }}" style="width: 60%; margin-top: 15px">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                        <div class="m-stack__item m-topbar__nav-wrapper">
                            <ul class="m-topbar__nav m-nav m-nav--inline">
                                <li class="m-nav__item m-dropdown m-dropdown--large m-dropdown--arrow m-dropdown--align-center m-dropdown--mobile-full-width m-dropdown--skin-light	m-list-search m-list-search--skin-light" data-dropdown-toggle="click" data-dropdown-persistent="true" id="m_quicksearch" data-search-type="dropdown">
                                    <a href="{{path('cremor_deconnect')}}" class="m-nav__link m-dropdown__toggle">
                                        <span class="m-nav__link-icon">
                                            <i class="flaticon-user" style="font-size:26px;"></i>
                                            {% if app.session.get("role")=="admin" %}
                                                Admin
                                            {% else %}
                                                Secretaire
                                            {% endif %}
                                        </span>
                                    </a>
                                </li>		
					        </ul>
	                    </div>
                    </div>
                </div> 
            </div>
        </div>
    </header>
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <button class="m-aside-left-close  m-aside-left-close--skin-dark " id="m_aside_left_close_btn"><i class="la la-close"></i></button>
        <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-dark ">
            <div id="m_ver_menu" class="m-aside-menu m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark" data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
                <ul class="m-menu__nav m-menu__nav--dropdown-submenu-arrow">
                    <li class="m-menu__item" aria-haspopup="true">
                        <a  href="{{ path('cremor_listing_AppelOffre') }}" class="m-menu__link">
                            <i class="m-menu__link-icon flaticon-line-graph"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Appel d'Offre</span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item" aria-haspopup="true">
                        <a  href="{{ path('cremor_listing_Fournisseur') }}" class="m-menu__link">
                            <i class="m-menu__link-icon fa fa-user-o"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Fournisseur</span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item" aria-haspopup="true">
                        <a  href="{{ path('cremor_listing_client') }}" class="m-menu__link">
                            <i class="m-menu__link-icon flaticon-users"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Client</span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item" aria-haspopup="true">
                        <a  href="{{ path('cremor_listing_Devis') }}" class="m-menu__link">
                            <i class="m-menu__link-icon flaticon-line-graph"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Devis</span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item" aria-haspopup="true">
                        <a  href="{{ path('cremor_listing_DemmandeDevis') }}" class="m-menu__link">
                            <i class="m-menu__link-icon flaticon-line-graph"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Demande Devis</span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item" aria-haspopup="true">
                        <a  href="{{ path('cremor_listing_BordereauxPrix') }}" class="m-menu__link">
                            <i class="m-menu__link-icon fa fa-credit-card"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Bordereau prix</span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item" aria-haspopup="true">
                        <a  href="{{ path('cremor_listing_FactureClient') }}" class="m-menu__link">
                            <i class="m-menu__link-icon flaticon-interface-1"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Facture Client</span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item" aria-haspopup="true">
                        <a  href="{{ path('cremor_listing_FactureFournisseur') }}" class="m-menu__link">
                            <i class="m-menu__link-icon flaticon-interface-1"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Facture Fournisseur</span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item" aria-haspopup="true">
                        <a  href="{{ path('cremor_listing_BonLivraison') }}" class="m-menu__link">
                            <i class="m-menu__link-icon flaticon-line-graph"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Bon livraison</span>
                                </span>
                            </span>
                        </a>
                    </li>
                    <li class="m-menu__item" aria-haspopup="true">
                        <a  href="{{ path('cremor_listing_Poste') }}" class="m-menu__link">
                            <i class="m-menu__link-icon flaticon-line-graph"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Poste</span>
                                </span>
                            </span>
                        </a>
                    </li>
                    {% if app.session.get("role")=="admin"%}
                    <li class="m-menu__item" aria-haspopup="true">
                        <a  href="index9bfb.html?page=index&amp;demo=default" class="m-menu__link">
                            <i class="m-menu__link-icon flaticon-tabs"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Documentation</span>
                                </span>
                            </span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="m-menu__item" aria-haspopup="true">
                        <a  href="{{path('cremor_deconnect')}}" class="m-menu__link">
                            <i class="m-menu__link-icon flaticon-cancel"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">Deconnexion</span>
                                </span>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% block body %}{% endblock %}
    </div>
    <footer class="m-grid__item m-footer ">
        <div class="m-container m-container--fluid m-container--full-height m-page__container">
            <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                    <span class="m-footer__copyright">
                        <center>2017 &copy; <a href="#" class="m-link">CREMOR</a></center>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="{{ asset('js/vendors.bundle.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/scripts.bundle.js') }}" type="text/javascript"></script>
{% block javascripts %}{% endblock %}
</body>
</html>