{% extends 'base.html.twig' %}
{% block body %}
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-content">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
                        <!--begin::Form-->
                        {{ form_start(form, {'attr': {'class': 'm-form m-form--fit m-form--label-align-right'}}) }}
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label>Quantité</label>
                                {{ form_widget(form.qte, {'attr': {'class': 'form-control m-input'}}) }}
                                <label style="margin-top: 15px">Designation</label>
                                {{ form_widget(form.designation, {'attr': {'class': 'form-control m-input'}}) }}
                                <label style="margin-top: 15px">Appel Offre</label>
                                <div>
                                    {{ form_widget(form.appelOffre, {'id': 'm_select2_2', 'attr': {'class': 'form-control m-select2'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                {{ form_widget(form.save, {'label': 'Ajouter', 'attr': {'class': 'btn btn-primary'}}) }}
                                <a href="{{ path('cremor_listing_FactureClient') }}" class="btn btn-secondary">Retour à la liste</a>
                                </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/select2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
{% endblock %}