{% extends 'base.html.twig' %}
{% block body %}
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-content">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
                        <!--begin::Form-->
                        {{ form_start(form, {'attr': {'class': 'm-form m-form--fit m-form--label-align-right'}}) }}
                        <div class="m-portlet__body">
                            <div class="form-group m-form__group">
                                <label>Numero appel d'offre</label>
                                {{ form_widget(form.numAO, {'attr': {'class': 'form-control m-input'}}) }}
                                <label style="margin-top: 15px">Objet</label>
                                {{ form_widget(form.objet, {'attr': {'class': 'form-control m-input'}}) }}
                                <label style="margin-top: 15px">Date</label>
                                <div class='input-group date' id='m_datepicker_2'>
                                    {{ form_widget(form.date, {'attr': {'class': 'form-control m-input', 'readonly': 'readonly'}}) }}
                                    <span class="input-group-addon">
                                            <i class="la la-calendar-check-o"></i>
                                        </span>
                                </div>
                                <label style="margin-top: 15px">Client</label>
                                <div>
                                    {{ form_widget(form.client, {'id': 'm_select2_2', 'attr': {'class': 'form-control m-select2'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__foot m-portlet__foot--fit">
                            <div class="m-form__actions">
                                {{ form_widget(form.save, {'label': 'Enregistrer', 'attr': {'class': 'btn btn-primary'}}) }}
                                <a href="{{ path('cremor_listing_AppelOffre') }}" class="btn btn-secondary">Retour à la liste</a>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/select2.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
{% endblock %}