{% extends 'base.html.twig' %}
{% block body %}
    <div class="m-grid__item m-grid__item--fluid m-wrapper">
        <div class="m-content">
            <div class="row">
                <div class="col-md-12">
                    <!--begin::Portlet-->
                    <div class="m-portlet m-portlet--tab">
                        <!--begin::Form-->
                        {{ form_start(form, {'attr': {'class': 'm-form m-form--fit m-form--label-align-right'}}) }}
                            <div class="m-portlet__body">
                                <div class="form-group m-form__group">
                                    <label>Nom Societe</label>
                                    {{ form_widget(form.nomSociete, {'attr': {'class': 'form-control m-input'}}) }}
                                    <label style="margin-top: 15px">Telephone</label>
                                    {{ form_widget(form.tel, {'attr': {'class': 'form-control m-input'}}) }}
                                    <label style="margin-top: 15px">Adress</label>
                                    {{ form_widget(form.adress, {'attr': {'class': 'form-control m-input'}}) }}
                                    <label style="margin-top: 15px">Fax</label>
                                    {{ form_widget(form.fax, {'attr': {'class': 'form-control m-input'}}) }}
                                </div>
                            </div>
                            <div class="m-portlet__foot m-portlet__foot--fit">
                                <div class="m-form__actions">
                                    {{ form_widget(form.save, {'label': 'Enregistrer', 'attr': {'class': 'btn btn-primary'}}) }}
                                    <a href="{{ path('cremor_listing_client') }}" class="btn btn-secondary">Retour à la liste</a>
                                </div>
                            </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}