{% extends 'base.html.twig' %}
{% block body %}
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <div class="m-content">
                <div class="m-portlet m-portlet--mobile">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title">
                                <h3 class="m-portlet__head-text">
                                    Clients</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                            <div class="row align-items-center">
                                <div class="col-xl-8 order-2 order-xl-1">
                                    <div class="form-group m-form__group row align-items-center">
                                        <div class="col-md-4">
                                            <div class="m-input-icon m-input-icon--left">
                                                <input type="text" class="form-control m-input m-input--solid" placeholder="Search..." id="generalSearch">
                                                <span class="m-input-icon__icon m-input-icon__icon--left">
									                <span>
                                                        <i class="la la-search"></i>
                                                    </span>
								                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                    <a href="{{ path('cremor_add_client') }}" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
						                <span>
                                            <i class="la la-cart-plus"></i>
                                            <span>New Order</span>
                                        </span>
                                    </a>
                                    <div class="m-separator m-separator--dashed d-xl-none"></div>
                                </div>
                            </div>
                        </div>
                        <div class="m_datatable" id="local_data"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="m_modal_1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
            <h2>Voulez-vous supprimer ce client?</h2>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <a class="btn btn-danger" id="suppression">Supprimer</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/vendors.bundle.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/scripts.bundle.js') }}" type="text/javascript"></script>
    <script>
    var i =0;
        var DatatableDataLocalDemo = function () {
            var demo = function () {
                var dataJSONArray = JSON.parse({{(data|json_encode|raw)}});
                var datatable = $('.m_datatable').mDatatable({
                    // datasource definition
                    data: {
                        type: 'local',
                        source: dataJSONArray,
                        pageSize: 10
                    },

                    // layout definition
                    layout: {
                        theme: 'default'
                    },

                    // column sorting
                    sortable: true,

                    pagination: true,

                    search: {
                        input: $('#generalSearch')
                    },

                    // inline and bactch editing(cooming soon)
                    // editable: false,

                    // columns definition
                    columns: [{
                        field: "id",
                        title: "#",
                        width: 50,
                        sortable: false,
                        textAlign: 'center'
                    }, {
                        field: "nomSociete",
                        title: "Nom Societe",
                        responsive: {visible: 'lg'}
                    }, {
                        field: "tel",
                        title: "Tel",
                        width: 100
                    }, {
                        field: "adress",
                        title: "Adresse",
                        responsive: {visible: 'lg'}
                    }, {
                        field: "fax",
                        title: "FAX",
                        responsive: {visible: 'lg'}
                    }, {
                        field: "Actions",
                        width: 110,
                        title: "Actions",
                        sortable: false,
                        overflow: 'visible',
                        template: function (row) {
                            var id = JSON.stringify(dataJSONArray[i]["id"]);
                            var str = '\
                                <a href="/edit_appelOffre/'+id+'" class="m-portlet__nav-link btn m-btn m-btn--hover-accent m-btn--icon m-btn--icon-only m-btn--pill '+id+'" title="View ">\
                                    <i class="la la-edit"></i></a>\
                                <a href="#" id="'+id+'" class="m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete" data-toggle="modal" data-target="#m_modal_1">\
                                    <i class="la la-trash"></i></a>';
                            i++;
                            return str;
                        }
                    }]
                });

                var query = datatable.getDataSourceQuery();

            };

            return {
                //== Public functions
                init: function () {
                    // init dmeo
                    demo();
                }
            };
        }();

        jQuery(document).ready(function () {
            $("#generalSearch").keydown(function(){
                i = 0;
            })
            DatatableDataLocalDemo.init();
            $("a").click(function(){
                if($(this).attr("href")=="#"){
                    var id = $(this).attr("id");
                    $("#suppression").attr("href","delete_client/"+id);
                }
            });
        });
    </script>
{% endblock %}